/* build time:Mon Feb 16 2026 23:48:16 GMT+0800 (中国标准时间)*/
.post h1{text-align:center}.post p{text-indent:2em;text-align:justify}.post blockquote p,.post li p,.post p:has(code),.post p:has(img){text-indent:0}.shiju{padding:20px;margin:20px 0}.post .shiju p{text-indent:0!important;margin-bottom:5px;font-style:italic;color:grey}
/* rebuild by neat */